﻿<!doctype html>
<html charset="UTF-8">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>

    <title>Landing Page</title>
</head>

<body>

    <div class="container-fluid home h-100">
        <section class="home__bloco">
            <h1>O FUTURO ESTÁ AQUI</h1>
            <h2>CORRETORES CONECTADOS</h2>
            <p>Um movimento de Inclusão Digital para o Mercado Imobiliário</p>
        </section>
    </div>

    <div class="container-fluid oportunidade">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <section>
                        <h1 class="title">OPORTUNIDADE ÚNICA</h1>
                        <h2>VOCÊ VAI SER UM CORRETOR DE IMÓVEIS DE ALTA PERFORMANCE</h2>
                        <p>
                            Seja treinado, tenha acesso as melhores ferramentas de trabalho e participe da grande rede de
                            negócios imobiliários do Brasil.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid categorias">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <span><i class="fas fa-users"></i></span>
                            Para corretores que querem se dastacar em sua área de atuação.
                        </li>
                        <li>
                            <span><i class="far fa-handshake"></i></span>
                            Para corretores que querem construir parcerias de sucesso.
                        </li>
                        <li>
                            <span><i class="fas fa-rocket"></i></span>
                            Para corretores que querem acelerar seus canais digitais.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid programa">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">O QUE VOCÊ VAI RECEBER AO PARTICIPAR DESTE PROGRAMA</h1>
                    <article>
                        <h2>TREINAMENTO INTENSO</h2>
                        <ul>
                            <li>- Como construir um perfil vencedor no Facebook, Instagram, Linkedin, WhatsApp.</li>
                            <li>- Técnicas para atrair seguidores e amigos.</li>
                            <li>- Transformando seguidores em prospects.</li>
                            <li>- Como identificar um pontecial cliente em canais digitais.</li>
                            <li>- Algoritimos, como funcionam e como eles te ajudam.</li>
                            <li>- Melhores formas de manter seu perfil ativo.</li>
                            <li>- Porque e como fazer Marketing de conteúdo.</li>
                            <li>- Construção de lista de transmissão e grupos.</li>
                            <li>- Como mensurar resultados. </li>
                            <li>- Imagens que vendem.</li>
                            <li>- Aplicativos para facilitar suas publicações.</li>
                        </ul>
                        <p>
                            <span>PRESENCIAL - 26/09</span>
                            <span>ON-LINE - 02/10 e 09/10</span>
                        </p>
                    </article>
                    <article>
                        <h2>PLATAFORMA DIGITAL</h2>
                        <ul>
                            <li>- Seu Site para publicação de até 1000 imóveis.</li>
                            <li>- Páginas de captura com funil de vendas para cada imóvel.</li>
                            <li>- Blog com seu nome e uma usina de notícias para você gerar mais clientes.</li>
                            <li>- Capas de Facebook</li>
                            <li>- Imagens para compartilhamentos.</li>
                            <li>- Funil de vendas para consultoria imobiliária.</li>
                            <li>- Domínio próprio em seu nome (incluindo custos do primeiro ano).</li>
                        </ul>
                        <p>
                            <span>4 MESES INCLUÍDOS</span>
                            <span>NO INVESTIMENTO</span>
                        </p>
                    </article>
                    <article>
                        <h2>EXPANSÃO DE NEGÓCIOS</h2>
                        <ul>
                            <li>- Participação em portal nacional com seus imóveis.</li>
                            <li>- Participação do sistema inteligente de parcerias imobiliárias.</li>
                            <li>- Possibilidade de construir site com todos os imóveis de seus parceiros.</li>
                            <li>- Novos produtos para comercializar.</li>
                            <li>- Novos parceiros para agregar.</li>
                            <li>- Novas oportunidades para crescer.</li>
                        </ul>
                        <p>
                            <span>PARTICIPAÇÃO INTEGRAL ENQUANTO</span>
                            <span>USUÁRIO DA PLATAFORMA</span>
                        </p>
                    </article>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid mentor">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">MENTOR</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <img src="~/images/image.png" alt="Marcelo Benassi" title="Marcelo Benassi">
                </div>
                <div class="col-12 col-sm-8">
                    <h2>MARCELO BENASSI</h2>
                    <h3>ESPECIALISTA EM CAPTAÇÃO DE CLIENTES</h3>
                    <p>
                        Empreendedor digital há 23 anos, um dos precursores da Internet no Brasil. Consultor de grandes grupos empresariais e entidades classistas. Implantou processos que alteraram os modelos tradicionais de captação de novos clientes nos mercados de seguros e educacional no Brasil.
                    </p>
                    <p>
                        Nos últimos anos, tem se dedicado à construção e implementação de processos inovadores para Captação e Venda pela Internet, onde alcançou números superiores a 5 milhões de usuários e mais de 500 mil contratos assinados.
                    </p>
                    <p>
                        Agora se dedica a ajudar profissionais a conquistarem novas oportunidades no grande mundo digital.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid investimentos">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-2">&nbsp;</div>
                <div class="col-12 col-md-8">
                    <h1 class="title">INSCRIÇÃO COM VAGAS LIMITADAS</h1>
                    <p>
                        Garanta sua vaga para o processo que acontecerá no dia <strong>26 de setembro, das 9h às 17h</strong>, no Hotel Excelsior.
                    </p>
                    <p>
                        Não perca tempo. Fale com nosso representante agora mesmo!
                    </p>
                </div>
                <div class="col-12 col-md-2">&nbsp;</div>
            </div>
        </div>
    </div>

    <div class="container-fluid botaowhats">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <a href="http://wa.me/5511956680075" target="_blank" class="btn btn-success btn-xlarge btn-block"><strong>QUERO PARTICIPAR</strong>&nbsp;&nbsp;<img src="~/images/whatsapp-logo-icone.png" style="width:30px" /></a>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid aviso">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <p>
                        <strong>Investimento de R$ 497,00 em até 3X no cartão de crédito</strong>.
                    </p>
                    <p>
                        O processo para garantia da vaga será ativado após contato por um de nossos consultores.
                    </p>
                    <p>
                        Importante relembrar, o volume de vagas para inicio do processo é reduzido, nosso objetivo é formarmos grandes Corretores Imobiliários Digitais.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mentor">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">LOCAL</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8">
                    <h2>Hotel Excelsior</h2>
                    <h3 style="color:white">Próximo à Estação República do metrô</h3>
                </div>
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.711668401314!2d-46.64256408533801!3d-23.542870666794105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce585035ebd66f%3A0x36c23eb79ab79593!2sAv.+Ipiranga%2C+770+-+Rep%C3%BAblica%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1507996069089" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<script>

    function reativarSubmit() {
        $(".btn_submit").text('Enviar');
        //$("btn_submit").attr("disabled", false);
    }

    function desativarSubmit() {
        $(".btn_submit").text('Aguarde...');
        //$("btn_submit").attr("disabled", true);
    }



    $(document).ready(function () {
        $('#lbCPF').hide();

        $("input[type=text]").focus(function () {
            $(this).select();
        });

        $('.checkradios').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').show()
                $('#lbcreci').hide()
            }
        });

        $('.checkradios1').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').hide()
                $('#lbcreci').show()
            }

        });

    });

    $(function () {

        $("#cep").mask("99999-999");
        $("#whatsapp").mask("(99)99999-9999");
        $('#CPF').mask("999.999.999-99", { reverse: true });

    });

    $(function () {
        $("input[name=Creci]")[0].oninvalid = function () {
            this.setCustomValidity("Somente letras e números são permitidos.");
        };
        $("input[name=nome]")[0].oninvalid = function () {
            this.setCustomValidity("No máximo 150 letras.");
        };
        reativarSubmit();
    });
    function success(a) {
        if (a.success) {
            reativarSubmit();
            swal("Sucesso", "Cadastro realizado!", "success")
                .then((value) => {
                    window.location = "corretor/obrigado";

                });

        } else {
            reativarSubmit();
            swal("Erro", "Não foi possivel realizar o cadastro", "error");

        }
    }

    function fail(context) {
        console.log(context);
        reativarSubmit();
        swal("Erro", context.responseJSON.field + ':' + context.responseJSON.message, "error")
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}