﻿<!doctype html>
<html charset="UTF-8">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>

    <title>Landing Page</title>
</head>

<body>
    <div class="container-fluid home h-100">
        <section class="home__bloco">
            @*<h1>Curso Rápido</h1>*@
            <h2 style="text-align:center;padding-top:20px;">4 ESTRATÉGIAS COMPROVADAS</h2>
            <h2 style="text-align:center;padding-top:20px;">PARA VENDER MAIS IMÓVEIS</h2>
            <h2 style="text-align:center;padding-top:20px;">COM MENOS CLIENTES</h2>
            @*<p>Marketing Digital para Corretores Imobiliários</p>*@
        </section>
    </div>

    <div class="container-fluid oportunidade">
        <div class="content">
            <div class="row">
                <div class="col-12" id="div_oportunidade">
                    <section>
                        <h1 class="titleb">OPORTUNIDADE</h1>
                        <p>Dia 99 de xxxx</p>
                        <p>às 99h</p>
                        <p>&nbsp;</p>
                        <p>
                            Descubra o passo a passo para fidelizar seus clientes e tornar sua concorrência irrelevante.
                        </p>
                        <p style="margin-top:35px;"><a class="shopbutton" href="#FormPrincipal">Vagas limitadas. Garanta já a sua</a></p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid categorias">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <span><i class="fas fa-users"></i></span>
                            Para corretores que querem se destacar em sua área de atuação.
                        </li>
                        <li>
                            <span><i class="far fa-handshake"></i></span>
                            Para corretores que querem construir parcerias de sucesso.
                        </li>
                        <li>
                            <span><i class="fas fa-rocket"></i></span>
                            Para corretores que querem acelerar seus canais digitais.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid descricao">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <section>
                        <iframe class="video" src="https://www.youtube.com/embed/XTgajOOu4zQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </section>

                </div>
            </div>
            <div class="row">
                <div class="content cardbonus">
                    <div class="row">
                        <div class="col-12 col-sm-3" style="align-content:center">
                            <img src="~/images/ebookwebinar.png" />
                        </div>
                        <div class="col-12 col-sm-9">
                            <p style="margin:20px 10px 0px 15px">Bônus: novo e-book exclusivo <strong>3 Passos para se tornar um Corretor de Imóveis Conectado</strong></p>
                        </div>
                    </div>
                    <div class="row" style="margin:15px 0px 0px 15px;">
                        <div class="col-12 col-md-12">
                            <p style="text-align:center;max-width:80%">Vagas limitadas</p>
                        </div>
                    </div>
                    <div class="row" style="margin:0px 0px 0px 15px;">
                        <div class="col-12 col-md-12">
                            <p style="text-align:center;max-width:100%"><a class="shopbutton" href="#FormPrincipal">Clique e garanta já a sua!</a></p>
                        </div>

                    </div>
                </div>

            </div>
            

        </div>
    </div>


    <div class="container-fluid descricao">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <section>

                        <h1 class="titleb">4 ESTRATÉGIAS COMPROVADAS PARA VENDER MAIS IMÓVEIS COM MENOS CLIENTES</h1>
                        @*<div style="margin-bottom:20px">
                        <span class="smdesc"><i class="fab fa-facebook-square"></i></span><span class="smdesc"><i class="fab fa-instagram"></i></span><span class="smdesc"><i class="fab fa-whatsapp"></i></span>
                    </div>*@
                        <p>
                            Quantidade de clientes deixou de ser sinônimo de sucesso. Hoje, para vender mais, é preciso vender melhor, deixando de ser um mero corretor para se transformar num verdadeiro consultor. Aquele profissional que, por estar presente com o cliente durante toda a sua jornada de compra, será a escolha óbvia para intermediar a realização desse sonho.
                        </p>
                        <p>
                            E é isso que você vai descobrir neste webinar. Nele vamos apresentar 4 estratégias comprovadas, que a maioria dos corretores não faz, mas que são exatamente o que você precisa para se diferenciar da concorrência e vender mais com menos clientes.
                        </p>
                        <p>
                            Então não perca tempo. Informe seus dados e garanta sua vaga.
                        </p>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="content cardbonus">
                    <div class="row">
                        <div class="col-12 col-sm-3" style="align-content:center">
                            <img src="~/images/ebookwebinar.png" />
                        </div>
                        <div class="col-12 col-sm-9">
                            <p style="margin:20px 10px 0px 15px">Bônus: novo e-book exclusivo <strong>3 Passos para se tornar um Corretor de Imóveis Conectado</strong></p>
                        </div>
                    </div>
                    <div class="row" style="margin:15px 0px 0px 15px;">
                        <div class="col-12 col-md-12">
                            <p style="text-align:center;max-width:80%">Vagas limitadas</p>
                        </div>
                    </div>
                    <div class="row" style="margin:0px 0px 0px 15px;">
                        <div class="col-12 col-md-12">
                            <p style="text-align:center;max-width:100%"><a class="shopbutton" href="#FormPrincipal">Clique e garanta já a sua!</a></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid mentor">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">MENTOR</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <img src="~/images/image.png" alt="Marcelo Benassi" title="Marcelo Benassi">
                </div>
                <div class="col-12 col-sm-8">
                    <h2>MARCELO BENASSI</h2>
                    <h3>ESPECIALISTA EM CAPTAÇÃO DE CLIENTES</h3>
                    <p>
                        Empreendedor digital há 23 anos, um dos precursores da Internet no Brasil. Consultor de grandes grupos empresariais e entidades classistas. Implantou processos que alteraram os modelos tradicionais de captação de novos clientes nos mercados de seguros e educacional no Brasil.
                    </p>
                    <p>
                        Nos últimos anos, tem se dedicado à construção e implementação de processos inovadores para Captação e Venda pela Internet, onde alcançou números superiores a 5 milhões de usuários e mais de 500 mil contratos assinados.
                    </p>
                    <p>
                        Agora se dedica a ajudar profissionais a conquistarem novas oportunidades no grande mundo digital.
                    </p>
                </div>
            </div>
            @*<div class="row" style="padding-top: 35px;">
                    <div class="col-12 col-sm-4">
                        <img src="~/images/flavio.jpeg" alt="Flávio Brandileone" title="Flávio Brandileone" class="imgpart">
                    </div>
                    <div class="col-12 col-sm-8">

                        <h3>PARTICIPAÇÃO ESPECIAL DE FLÁVIO BRANDILEONE</h3>
                        <p>
                            Especialista em  Marketing de Performance com forte atuação em Facebook ADS, Instagram ADS e Google Adwords.
                        </p>
                    </div>
                </div>*@
        </section>
    </div>

    <div class="container-fluid investimentos">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-2">&nbsp;</div>
                <div class="col-12 col-md-8">
                    <h1 class="titleb">INSCRIÇÃO GRATUITA</h1>
                    <p>
                        A oportunidade é direcionada a Corretores Imobiliários que desejam construir novos negócios em canais digitais.
                    </p>
                </div>
                <div class="col-12 col-md-2">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form asp-action="AddAsync" asp-antiforgery="true"
                          method="POST" data-ajax="true" data-ajax-method="POST"
                          data-ajax-success="success"
                          data-ajax-failure="fail"
                          data-ajax-begin="desativarSubmit" id="FormPrincipal">
                        <input type="hidden" name="codigo" value="@ViewBag.Codigo" />
                        <label>
                            <span>Nome:</span>
                            <input type="text" name="nome">
                        </label>
                        <label>
                            <span>WhatsApp:</span>
                            <input type="text" name="whatsapp" id="whatsapp" required>
                        </label>
                        <label>
                            <span>E-mail:</span>
                            <input type="email" name="email" maxlength="150" required>
                        </label>
                        <label>
                            <span>CEP de maior atuação:</span>
                            <input type="text" name="cep" id="cep" maxlength="8" required>
                        </label>

                        @*<label id="lbcreci">
                                <span>Número Creci:</span>
                                <input type="text" name="Creci" maxlength="6">
                            </label>*@
                        <label id="lbTipo">
                            <span>Perfil: </span>
                            <select name="TipoCorretor" id="tipocor">
                                <option value="Corretor">Corretor</option>
                                <option value="Incorporador">Incorporador</option>
                                <option value="Imobiliaria">Imobiliária</option>
                            </select>
                        </label>

                        @*<label id="lbCPF">
                                <span>CPF: </span>
                                <input type="text" name="CPF" id="CPF" maxlength="11">
                            </label>

                            <input type="hidden" name="TipoCorretor" id="tipocor" value="Corretor" />*@


                        <p class="text-right"><button type="submit" class="btn_submit">ENVIAR</button></p>
                        <p>
                            Estamos aplicando o modelo do ingresso solidário, você terá vantagens
                            se apoiar essa causa.
                        </p>
                        <p>
                            Te enviaremos um e-mail confirmando sua inscrição e as instruções para sua contribuição.
                        </p>
                        <p>
                            Entidade escolhida para receber as doações:
                        </p>
                        <p style="text-align:center">
                            <img src="~/images/apae_logo.jpg" style="max-width:45%;" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid realizacao">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-2">&nbsp;</div>
                <div class="col-12 col-md-8">
                    <h1 class="titleb">REALIZAÇÃO</h1>
                </div>
                <div class="col-12 col-md-2">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <span><img src="~/images/sigaviconnect.jpg" style="max-width:50%" /></span>
                        </li>
                        <li>
                            <span><img src="~/images/orulo.png" style="max-width:50%" /></span>
                        </li>
                        <li>
                            <span><img src="~/images/desenvurbano.png" style="max-width:70%" /></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="whatsapp-button" data-aos="zoom-in" data-aos-once="true">
        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511956680075" target="_blank" title="Envie uma mensagem para nós!">
        </a>
    </div>
</body>
</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>

    var executar_auto_scroll = true;

    window.onscroll = function (oEvent) {
        executar_auto_scroll = false;
    }

    function reativarSubmit() {
        $(".btn_submit").text('Enviar');
        //$("btn_submit").attr("disabled", false);
    }

    function desativarSubmit() {
        $(".btn_submit").text('Aguarde...');
        //$("btn_submit").attr("disabled", true);
    }

    function exibirprox() {
        if (executar_auto_scroll) {
            $('html, body').animate({
                scrollTop: $("#div_oportunidade").offset().top
            }, 3000);
        }
    }

    $(document).ready(function () {

        window.setTimeout(function () { exibirprox(); }, 4000);
        setTimeout(function () { AOS.init(); }, 600);


        $('#lbCPF').hide();

        $("input[type=text]").focus(function () {
            $(this).select();
        });

        $('.checkradios').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').show()
                $('#lbcreci').hide()
            }
        });

        $('.checkradios1').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').hide()
                $('#lbcreci').show()
            }

        });

    });

    $(function () {

        $("#cep").mask("99999-999");
        $("#whatsapp").mask("(99)99999-9999");
        $('#CPF').mask("999.999.999-99", { reverse: true });

    });

    $(function () {
        $("input[name=Creci]")[0].oninvalid = function () {
            this.setCustomValidity("Somente letras e números são permitidos.");
        };
        $("input[name=nome]")[0].oninvalid = function () {
            this.setCustomValidity("No máximo 150 letras.");
        };
        reativarSubmit();
    });
    function success(a) {
        if (a.success) {
            reativarSubmit();
            swal("Sucesso", "Cadastro realizado!", "success")
                .then((value) => {
                    window.location = "corretor/obrigado";

                });

        } else {
            reativarSubmit();
            swal("Erro", "Não foi possivel realizar o cadastro", "error");

        }
    }

    function fail(context) {
        console.log(context);
        reativarSubmit();
        swal("Erro", context.responseJSON.field + ':' + context.responseJSON.message, "error")
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

}