﻿<!doctype html>
<html charset="UTF-8">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>

    <title>Landing Page</title>
</head>

<body>

    <div class="container-fluid home h-100">
        <section class="home__bloco">
            <h1>ESGOTADO</h1>
            <h2>CORRETORES CONECTADOS</h2>
            <p>Marketing Digital para Corretores Imobiliários</p>
        </section>
    </div>

    <div class="container-fluid oportunidade">
        <div class="content">
            <div class="row">
                <div class="col-12" id="div_oportunidade">
                    <section>
                        <h1 class="title">OPORTUNIDADE EM COTIA</h1>
                        <p>Dia 10 de outubro</p>
                        <p>das 8h às 12h</p>
                        <p>&nbsp;</p>
                        <p>
                            Seja treinado, tenha acesso as melhores ferramentas de trabalho e participe da grande rede de
                            negócios imobiliários do Brasil.
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid categorias">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li>
                            <span><i class="fas fa-users"></i></span>
                            Para corretores que querem se destacar em sua área de atuação.
                        </li>
                        <li>
                            <span><i class="far fa-handshake"></i></span>
                            Para corretores que querem construir parcerias de sucesso.
                        </li>
                        <li>
                            <span><i class="fas fa-rocket"></i></span>
                            Para corretores que querem acelerar seus canais digitais.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid descricao">
        <div class="content">
            <div class="row">
                <div class="col-12">
                    <section>

                        <h1 class="title">MARKETING DIGITAL PARA CORRETORES IMOBILIÁRIOS</h1>
                        <div style="margin-bottom:20px">
                            <span class="smdesc"><i class="fab fa-facebook-square"></i></span><span class="smdesc"><i class="fab fa-instagram"></i></span><span class="smdesc"><i class="fab fa-whatsapp"></i></span>
                        </div>
                        <p>
                            A Internet tem revolucionado vários setores da economia e o Mercado Imobiliário está sendo altamente influenciado pelo mundo online.
                            Milhares de pessoas buscam diariamente na Internet imóveis para comprar, vender ou alugar.
                        </p>
                        <p>
                            O Corretor Moderno precisa estar bem posicionado e utilizar o Marketing Digital para atrair prospects e clientes.
                        </p>
                        <p>
                            No curso “Corretores Conectados”  iremos abordar estratégias que podem ser utilizadas por qualquer pessoa e principalmente com investimentos baixos.
                        </p>
                        <p>
                            O que você irá aprender:
                        </p>
                    </section>
                    <article>
                        <ul>
                            <li>Como construir um perfil vencedor no Facebook, Instagram e WhatsApp.</li>
                            <li>Técnicas para atrair seguidores e amigos.</li>
                            <li>Transformando seguidores em prospects.</li>
                            <li>Como identificar um pontecial cliente em canais digitais.</li>
                            <li>Algoritimos, como funcionam e como eles te ajudam.</li>
                            <li>Melhores formas de manter seu perfil ativo.</li>
                            <li>Porque e como fazer Marketing de Conteúdo.</li>
                            <li>Construção de lista de transmissão e grupos.</li>
                            <li>Como mensurar resultados. </li>
                            <li>Imagens que vendem.</li>
                            <li>Aplicativos para facilitar suas publicações.</li>
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid mentor">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">MENTOR</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-4">
                    <img src="~/images/image.png" alt="Marcelo Benassi" title="Marcelo Benassi">
                </div>
                <div class="col-12 col-sm-8">
                    <h2>MARCELO BENASSI</h2>
                    <h3>ESPECIALISTA EM CAPTAÇÃO DE CLIENTES</h3>
                    <p>
                        Empreendedor digital há 23 anos, um dos precursores da Internet no Brasil. Consultor de grandes grupos empresariais e entidades classistas. Implantou processos que alteraram os modelos tradicionais de captação de novos clientes nos mercados de seguros e educacional no Brasil.
                    </p>
                    <p>
                        Nos últimos anos, tem se dedicado à construção e implementação de processos inovadores para Captação e Venda pela Internet, onde alcançou números superiores a 5 milhões de usuários e mais de 500 mil contratos assinados.
                    </p>
                    <p>
                        Agora se dedica a ajudar profissionais a conquistarem novas oportunidades no grande mundo digital.
                    </p>
                </div>
            </div>
        </section>
    </div>

    <div class="container-fluid investimentos">
        <div class="content">
            <div class="row">
                <div class="col-12 col-md-2">&nbsp;</div>
                <div class="col-12 col-md-8">
                    @*<h1 class="title">INSCREVA-SE, VAGAS LIMITADAS</h1>*@
                    <h1 class="title" style="color:red">ESGOTADO, INSCREVA-SE PARA O PRÓXIMO EVENTO</h1>
                    @*<p>
            Garanta sua vaga para o processo que acontecerá no dia <strong>26 de setembro, das 9h às 17h</strong>, no Hotel Excelsior.
        </p>*@
                    <p>
                        A oportunidade é direcionada a Corretores Imobiliários que desejam construir novos negócios em canais digitais.
                    </p>
                    @*<p>
                        Ingresso solidário, traga 2Kg de alimentos que serão destinados a uma entidade filantrópica de Cotia.
                    </p>*@
                </div>
                <div class="col-12 col-md-2">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-12">
                    <form asp-action="AddAsync" asp-antiforgery="true"
                          method="POST" data-ajax="true" data-ajax-method="POST"
                          data-ajax-success="success"
                          data-ajax-failure="fail"
                          data-ajax-begin="desativarSubmit">
                        <input type="hidden" name="codigo" value="@ViewBag.Codigo" />
                        <label>
                            <span>Nome:</span>
                            <input type="text" name="nome">
                        </label>
                        <label>
                            <span>WhatsApp:</span>
                            <input type="text" name="whatsapp" id="whatsapp" required>
                        </label>
                        <label>
                            <span>E-mail:</span>
                            <input type="email" name="email" maxlength="150" required>
                        </label>
                        <label>
                            <span>CEP de maior atuação:</span>
                            <input type="text" name="cep" id="cep" maxlength="8" required>
                        </label>

                        <label id="lbcreci">
                            <span>Número Creci:</span>
                            <input type="text" name="Creci" maxlength="6">
                        </label>

                        <label id="lbCPF">
                            <span>CPF: </span>
                            <input type="text" name="CPF" id="CPF" maxlength="11">
                        </label>
                        @*<label>
                            <input type="radio" name="radiogroup1" id="tipoteste" style="display:none" />
                            <input type="radio" class="checkradios1" name="TipoCorretor" value="Corretor" id="tipocor" checked />
                            <span style="margin-right:10%">Corretor</span>
                            <input type="radio" class="checkradios" name="TipoCorretor" value="Estagiario" id="tipoestag" />
                            <span>Estagiário</span>
                        </label>*@

                        <input type="hidden" name="TipoCorretor" id="tipocor" value="Corretor" />


                        <p class="text-right"><button type="submit" class="btn_submit">ENVIAR</button></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @*<div class="container-fluid aviso">
            <div class="content">
                <div class="row">
                    <div class="col-12">
                        <p>
                            Investimento de
                        </p>
                        <p>
                            <strong class="promoline">R$ 497,00</strong>.
                        </p>
                        <p>
                            <strong>1 Kg de alimento não perecível</strong>.
                        </p>
                        <p>
                            Importante relembrar, o volume de vagas para inicio do processo é reduzido, nosso objetivo é formarmos grandes Corretores Imobiliários Digitais.
                        </p>
                        <p>
                            Dúvidas ligar para <strong>(11) 95668-0075</strong>&nbsp;<a href="http://wa.me/5511956680075" target="_blank"><img src="~/images/whatsapp-logo-icone.png" style="width:30px" /></a>
                        </p>

                    </div>
                </div>
            </div>
        </div>*@

    <div class="container-fluid mentor">
        <section class="content">
            <div class="row">
                <div class="col-12">
                    <h1 class="title">LOCAL</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-8">
                    <h2>CIESP Cotia</h2>
                    <h3 style="color:white">R. do Amor Perfeito, 200 - Jardim Colibri - Cotia</h3>
                </div>
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.982778006975!2d-46.85818918571573!3d-23.60495058466121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cfaa8d30808b4d%3A0x2000aca645106d39!2sR.%20do%20Amor%20Perfeito%2C%20200%20-%20Jardim%20Colibri%2C%20Cotia%20-%20SP%2C%2006713-290!5e0!3m2!1spt-BR!2sbr!4v1569591279508!5m2!1spt-BR!2sbr" width="100%" height="400px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </section>
    </div>
    <div class="whatsapp-button" data-aos="zoom-in" data-aos-once="true">
        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511956680075" target="_blank" title="Envie uma mensagem para nós!">
        </a>
    </div>
</body>
</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>

    var executar_auto_scroll = true;

    window.onscroll = function (oEvent) {
        executar_auto_scroll = false;
    }

    function reativarSubmit() {
        $(".btn_submit").text('Enviar');
        //$("btn_submit").attr("disabled", false);
    }

    function desativarSubmit() {
        $(".btn_submit").text('Aguarde...');
        //$("btn_submit").attr("disabled", true);
    }

    function exibirprox() {
        if (executar_auto_scroll) {
            $('html, body').animate({
                scrollTop: $("#div_oportunidade").offset().top
            }, 3000);
        }
    }

    $(document).ready(function () {

        window.setTimeout(function () { exibirprox(); }, 4000);
        setTimeout(function () { AOS.init(); }, 600);


        $('#lbCPF').hide();

        $("input[type=text]").focus(function () {
            $(this).select();
        });

        $('.checkradios').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').show()
                $('#lbcreci').hide()
            }
        });

        $('.checkradios1').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').hide()
                $('#lbcreci').show()
            }

        });

    });

    $(function () {

        $("#cep").mask("99999-999");
        $("#whatsapp").mask("(99)99999-9999");
        $('#CPF').mask("999.999.999-99", { reverse: true });

    });

    $(function () {
        $("input[name=Creci]")[0].oninvalid = function () {
            this.setCustomValidity("Somente letras e números são permitidos.");
        };
        $("input[name=nome]")[0].oninvalid = function () {
            this.setCustomValidity("No máximo 150 letras.");
        };
        reativarSubmit();
    });
    function success(a) {
        if (a.success) {
            reativarSubmit();
            swal("Sucesso", "Cadastro realizado!", "success")
                .then((value) => {
                    window.location = "corretor/obrigado";

                });

        } else {
            reativarSubmit();
            swal("Erro", "Não foi possivel realizar o cadastro", "error");

        }
    }

    function fail(context) {
        console.log(context);
        reativarSubmit();
        swal("Erro", context.responseJSON.field + ':' + context.responseJSON.message, "error")
    };
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    

}