﻿<!doctype html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>

    <title>Landing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="container-fluid home h-100">
        <section class="home__bloco obrigado">
            <h1>PARABÉNS</h1>
            <h2>SUA INSCRIÇÃO ESTÁ CONFIRMADA</h2>
            <p>Fique sempre atento no seu e-mail e whatsapp</p>
        </section>
    </div>
</body>

</html>