*,*:before,*:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}
body, html{font-family: 'FrutigerNext LT'; line-height: 1; height: 100%;}
body{font-family: 'century_gothicregular';}
ul, ol{list-style: none; margin: 0;}
img{border: 0; max-width: 100%;}

::-webkit-input-placeholder {color: #000;}
::-moz-placeholder {color: #000;;}
:-ms-input-placeholder {color: #000;}
:-moz-placeholder {color: #000;}

.title{font-family: 'antonioregular'; font-weight: normal; text-transform: uppercase;}
.container{float: left; width: 100%;}
.content{margin: 0 auto; max-width: 1024px; width: 90%;}

.header .content{width: 100%;}

.taja{background: #edad00; padding: 40px 10px; text-align: center; color: #fff; font-size: 20px; line-height: 1.2;}
.taja strong{font-size: 26px;}

.bloco1 {margin-bottom: 30px;padding-left:12%;padding-right:12%}
.bloco1 h1{font-size: 20px; margin: 20px 0;}
.bloco1 p{font-size: 16px; margin-bottom: 10px;}
.bloco1 p span{background: #edad00; padding: 10px; display: block;}
.bloco1 .list {display: flex; align-items: center; margin-bottom: 10px;}
.bloco1 .datas.list {color: #fff;}
.bloco1 .list li {flex: 1; background: #edad00; padding: 10px; text-align: center;}
.bloco1 .list li:not(:last-child) {border-right: 3px solid #fff;}
.bloco1 .encontros-horas.list li:first-child {background: transparent;}
.bloco1 .conteudos-usina {background: #939393; color:#fff; padding: 20px; margin: 3px 0;}
.bloco1 .conteudos-usina h2 {font-size: 26px;}
.bloco1 .conteudos-usina ul li {padding-left: 20px; position: relative; margin-top: 20px;}
.bloco1 .conteudos-usina ul li:before {content: ""; position: absolute; left: 0; top: 3px; background: #fff; width: 10px; height: 10px; border-radius: 50%;}


.bloco2 .mentoria {color: #fff; background: #808080; padding: 20px; min-height: 107px; display: flex; justify-content: center;flex-direction: column;}
.bloco2 .mentoria h2 {font-size: 26px;}
.bloco2 .mentoria ul li {padding-left: 20px; position: relative; margin-top: 20px;}
.bloco2 .mentoria ul li:before {content: ""; position: absolute; left: 0; top: 3px; background: #fff; width: 10px; height: 10px; border-radius: 50%;}
.bloco2 .conteudos-usina {background: #edad00; padding: 70px; margin: 3px 0;}
.bloco2 .conteudos-usina h2 {font-size: 26px;}
.bloco2 .conteudos-usina ul li {padding-left: 20px; position: relative; margin-top: 20px;}
.bloco2 .conteudos-usina ul li:before {content: ""; position: absolute; left: 0; top: 3px; background: #333; width: 10px; height: 10px; border-radius: 50%;}
.bloco2 .plataforma {background: #cc9600; padding: 20px; margin: 3px 0;}
.bloco2 .plataforma {color: #fff; background: #cc9600; padding: 20px; min-height: 107px; display: flex; justify-content: center;flex-direction: column;}
.bloco2 .plataforma h2 {font-size: 26px;}
.bloco2 .plataforma ul li {padding-left: 20px; position: relative; margin-top: 20px;}
.bloco2 .plataforma ul li:before {content: ""; position: absolute; left: 0; top: 3px; background: #fff; width: 10px; height: 10px; border-radius: 50%;}

.bloco3 img {margin-top: 3px;}
.bloco3 .investimento {background: #edad00; padding: 20px; min-height: 98px; display: flex; text-align: center; flex-direction: column; justify-content: center;}
.bloco3 .apos-periodo {margin: 30px 0; text-align: center;}
.bloco3 .list {display: flex; align-items: center; margin-bottom: 10px;}
.bloco3 .datas.list {color: #fff;}
.bloco3 .list li {flex: 1; background: #edad00; padding: 10px; text-align: center;}
.bloco3 .list li:not(:last-child) {border-right: 3px solid #fff;}
.bloco3 .encontros-horas.list li:first-child {background: transparent;}

.contato{background-image: url(../../images/bg-contato.jpg); background-size: cover; background-position: center top; padding: 50px 0; margin-top: 30px; text-align: center;}
.contato .content{max-width: 520px;}
.contato h1{font-size: 22px; margin-bottom: 20px;}
.contato form label{display: block; margin-top: 8px; color:white;}
.contato form label input{width: 100%; border: 2px solid #fff; padding: 10px; background: transparent; font-size: 15px;}
.contato form p{margin: 10px 0 0 0;}
.contato form p button{border: 0; background: #fff; padding: 10px 20px; color: #edad00; font-size: 14px; cursor: pointer;}
.contato .formapatosel {background-color:#edad00;}


/* breakpoints */
@media(min-width: 480px) {
  .taja{font-size: 26px;}
  .taja strong{font-size: 28px;}

  .bloco1 h1{font-size: 18px;}

  .bloco2 img{float: left; width: 280px;}
  .bloco2 .mentoria {width: calc(100% - 110px); float: right; margin-top: -107px;}
  .bloco2 .conteudos-usina {display: inline-block;}
  .bloco2 .plataforma ul li {flex: 1;}

  .bloco3 img{--wImg: 200px; width: var(--wImg); margin-left: calc(100% - var(--wImg));}
  .bloco3 .investimento{width: calc(100% - 102px); margin-top: -100px; font-size: 18px; padding: 0 20px; text-align: right;}

  .contato h1 {font-size: 20px;}
}

@media(min-width: 592px) {
  .bloco2 .mentoria{padding: 10px 20px;}
  .bloco3 .investimento p br{display: none;}
  .bloco3 .apos-periodo {font-size: 17px;}
}

@media(min-width: 768px) {
  .plataforma ul {font-size: 18px; margin: 0 auto;}

  .bloco3 .investimento{width: calc(100% - 203px); margin-top: -201px;}
  .bloco3 .apos-periodo{width: calc(100% - 118px); text-align: right;}
}

@media(min-width: 960px) {
  .taja .content{width: 520px;}

  .bloco1 h1 {font-size: 24px; width: 560px; margin: 30px auto;}
  .bloco1 p span{display: inline-block;}

  .bloco2 .mentoria {width: 230px; float: left; margin: 147px 0 0 -123px; padding: 20px;}
  .bloco2 .mentoria h2{margin-bottom: 10px;}
  .bloco2 .conteudos-usina {width: 462px; float: left; margin: 81px 0 0 10px;}
  .bloco2 .plataforma {margin-top: 10px; width: 600px; float: left; margin-left: 156px;}

  .bloco3{margin-top: -83px;}
  .bloco3 img {--wImg: 300px; width: var(--wImg); margin-left: calc(100% - var(--wImg));}
  .bloco3 .investimento {width: 565px; height:148px; margin: -148px 300px 0 0; float: right; text-align: center;}
  .bloco3 .apos-periodo {width: 626px; text-align: center; margin: 32px auto 40px auto; font-size: 20px;}

  .contato{padding: 150px 0;}
}

@media(min-width: 1024px) {
  .bloco2 .plataforma {width: 665px;}
}

@media(min-width: 1140px) {
  .bloco2 .plataforma {width: 703px;}
}




/*Whats app animado*/


.whatsapp-button {
    bottom: 15px;
    right: 15px;
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 1900;
    margin-bottom: 50px;
}

    .whatsapp-button a {
        background: center no-repeat #25D366;
        color: #FFF;
        font-size: 32px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
        border: 0;
        outline: 0;
        border-radius: 60px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
        background-size: 80%;
        transition: all .2s ease-in-out;
        animation: shake 1s 5s both infinite;
        text-decoration: none !important;
    }

        .whatsapp-button a:before {
            font-family: 'Font Awesome 5 Brands';
            font-weight: normal;
            content: "\f232";
        }

        .whatsapp-button a:focus, .whatsapp-button a:hover {
            color: #FFF;
            transform: scale(1.1);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
        }



@keyframes shake {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
