﻿<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">

    <title>Corretores Conectados</title>

    <meta name="description" content="Descubra o passo a passo para fidelizar seus clientes e tornar sua concorrência irrelevante.">
    <meta name="author" content="Sigavi Connect" />
    <meta itemprop="name" content="4 ESTRATÉGIAS COMPROVADAS PARA VENDER MAIS IMÓVEIS COM MENOS CLIENTES">
    <meta itemprop="description" content="Descubra o passo a passo para fidelizar seus clientes e tornar sua concorrência irrelevante.">
    <meta itemprop="image" content="http://corretoresconectados.com/images/sharecampanha.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="4 ESTRATÉGIAS COMPROVADAS PARA VENDER MAIS IMÓVEIS COM MENOS CLIENTES">
    <meta name="twitter:description" content="Descubra o passo a passo para fidelizar seus clientes e tornar sua concorrência irrelevante.">
    <meta name="twitter:image" content="http://corretoresconectados.com/images/sharecampanha.jpg">

    <meta property="og:url" content="http://www.corretoresconectados.com">
    <meta property="og:type" content="website">

    <meta property="og:title" content="4 ESTRATÉGIAS COMPROVADAS PARA VENDER MAIS IMÓVEIS COM MENOS CLIENTES">
    <meta property="og:site_name" content="Webinar">
    <meta property="og:description" content="Descubra o passo a passo para fidelizar seus clientes e tornar sua concorrência irrelevante.">
    <meta property="og:locale" content="pt_BR">
    
    <meta property="og:image" content="http://corretoresconectados.com/images/sharecampanha.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />


    <link rel="stylesheet" href="/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="~/lib/jquery-checkradios/css/jquery.checkradios.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-checkradios/js/jquery.checkradios.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/lib/jquery.mask.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@
    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>