﻿@{
    Layout = null;
}
<!doctype html>
<html>

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140256409-6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-140256409-6');
    </script>

    <title>Jornada do Corretor Conectado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=0">


    <meta name="description" content="Tenha todas as ferramentas necessárias para impulsionar suas ofertas na internet e captar novos clientes. Clique aqui!">
    <meta name="author" content="Acelerar Vendas" />
    <meta itemprop="name" content="JORNADA DO CORRETOR CONECTADO">
    <meta itemprop="description" content="Aulas presenciais, mentoria, acompanhamento de evolução em canais digitais, plataforma de marketing e muito mais.">
    <meta itemprop="image" content="/images/jornada-compartilhamento-2.jpg">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="JORNADA DO CORRETOR CONECTADO">
    <meta name="twitter:description" content="Aulas presenciais, mentoria, acompanhamento de evolução em canais digitais, plataforma de marketing e muito mais.">
    <meta name="twitter:image" content="/images/jornada-compartilhamento-2.jpg">

    <meta property="og:url" content="http://www.corretoresconectados.com/jornada">
    <meta property="og:type" content="website">

    <meta property="og:title" content="JORNADA DO CORRETOR CONECTADO">
    <meta property="og:site_name" content="Corretores Conectados">
    <meta property="og:description" content="Aulas presenciais, mentoria, acompanhamento de evolução em canais digitais, plataforma de marketing e muito mais.">
    <meta property="og:locale" content="pt_BR">

    <meta property="og:image" content="/images/jornada-compartilhamento-2.jpg">
    <meta property="og:image:width" content="946" />
    <meta property="og:image:height" content="372" />

    <link rel="stylesheet" href="~/css/jornada/fonts/stylesheet.css" type="text/css" charset="utf-8" />
    <link href="~/css/jornada/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="~/lib/jquery-checkradios/css/jquery.checkradios.min.css">

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-checkradios/js/jquery.checkradios.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/lib/jquery.mask.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>

    <div class="container header">
        <div class="content">
            <img src="~/images/jornada-do-corretor-conectado-2.jpeg" alt="Jornada do Corretor Conectado"
                 title="Jornada do Corretor Conectado" />
        </div>
    </div>

    <div class="container taja">
        <div class="content">
            <strong class="title">O QUE VOCÊ RECEBERÁ AO PARTICIPAR</strong>
            <p>Aulas presenciais, mentoria, acompanhamento de evolução em canais digitais, plataforma de marketing e muito mais.</p>
        </div>
    </div>

    <div class="container bloco1">
        <div class="content">
            <h1>Detalhamento da Jornada do Corretor</h1>
            @*<p><span>Módulo Avançado e aula prática de Facebook, Instagram e Whatsapp.</span></p>
                <p><span>Conhecimento de Aplicativos gratuitos para tratamento e edição de imagens e vídeos.</span></p>
                <p><span>Métricas para análise de performance.</span></p>
                <p><span>Uso avançado de plataforma para gestão de site pessoal, blog e funil de vendas.</span></p>*@
        </div>
        <ul class="encontros-horas list">
            <li><strong>Encontros presenciais</strong><br /><strong>CIESP Cotia</strong></li>
            <li>das 8h30<br /> às 12h</li>
        </ul>
        <ul class="datas list">
            <li>07/11</li>
            <li>14/11</li>
            <li>28/11</li>
            <li>12/12</li>
        </ul>
        <div class="conteudos-usina">
            <h2 class="title">TREINAMENTO</h2>
            <ul>
                <li>Módulo Avançado Facebook e Instagram.</li>
                <li>Conhecimento de Aplicativos gratuitos para tratamento e edição de imagens e vídeos.</li>
                <li>Métricas para análise de performance.</li>
                <li>Uso avançado de plataforma para gestão de site pessoal, blog e funil de vendas.</li>
            </ul>
        </div>
    </div>

    <div class="container bloco2">
        <div class="content">
            <img src="~/images/mentoria.png" alt="" />
            <div class="mentoria">
                <h2 class="title">Plataforma</h2>
                <ul>
                    <li>Seu site.</li>
                    <li>Seu blog.</li>
                    <li>Seu funil de vendas.</li>
                </ul>

            </div>
            <div class="conteudos-usina">
                <h2 class="title">Mentoria</h2>
                <p style="padding-top:15px;font-size:18px">Durante os 4 meses você receberá mentoria digital e acompanhamento direto para evolução dos seus canais digitais.</p>
            </div>
            <div class="plataforma">
                <h2 class="title">Conteúdos / Usina de notícias</h2>
                <ul>
                    <li>4 meses de conteúdo dinâmico para atualização semanal do Blog.</li>
                    <li>4 meses de conteúdo para compartilhamento no WhatsApp.</li>
                    <li>4 meses de acesso à banco de imagens com texto e hashtags para postagem no Facebook e Instagram. Com atualização semanal.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container bloco3">
        <div class="content">
            <img src="~/images/img-investimento.png" alt="" />
            <div class="investimento">
                <h2 class="title">Investimento</h2>
                <p class="preco_padrao"><strong>R$ 749,00</strong> em até<br /> 4 parcelas de <strong>R$ 187,25</strong></p>
                <p class="preco_lipe"><strong>De R$ 749,00 por R$ 560,00</strong> em até<br /> 4 parcelas de <strong>R$ 140,00</strong></p>
            </div>
        </div>
    </div>

    <div class="container contato">
        <div class="content" style="background-color:#cc9600;padding:30px 30px 30px">
            <h1 style="color:white">CONFIRME SUA VAGA AGORA.</h1>
            <div>
                <form asp-action="AddAsync" asp-antiforgery="true"
                      method="POST" data-ajax="true" data-ajax-method="POST"
                      data-ajax-success="success"
                      data-ajax-failure="fail"
                      data-ajax-begin="desativarSubmit">
                    <input type="hidden" name="codigo" id="codigo" value="@ViewBag.Codigo" />
                    <label><input type="text" name="Nome" style="color:white" placeholder="NOME:"></label>
                    <label><input type="text" name="WhatsApp" id="WhatsApp" style="color:white" placeholder="WHATSAPP:"></label>

                    <p style="color:white">Selecione uma Forma de Pagamento</p>
                    <label><input type="image" class="formapagto" src="~/images/btn_cartao.png" style="width:20%;" id="ImagemCartao"><input type="image" class="formapagto" src="~/images/pagto_boleto.jpg" style="width:20%;margin-left:30px;" id="ImagemBoleto"><p><span>Cartão</span><span style="margin-left:35px;">Boleto</span></p></label>

                    <label><input type="text" name="email" id="email" style="color:white" placeholder="E-mail:" class="pagtoboleto"></label>
                    <label><input type="text" name="cpf" id="cpf" style="color:white" placeholder="CPF:" class="pagtoboleto"></label>
                    <label><input type="text" name="cep" id="cep" style="color:white" placeholder="CEP:" class="pagtoboleto"></label>
                    <label><input type="text" name="endereco" id="endereco" style="color:white;width:80%" placeholder="Endereço:" class="pagtoboleto"><input type="text" name="numero" id="numero" style="color:white;width:20%" placeholder="Número" class="pagtoboleto" value="0"></label>

                    <label class="pagtoboleto" style="margin-bottom:15px;margin-top:25px;"><span>Selecione Uma Opção (Boleto Mensal)</span></label>
                    <label class="pagtoboleto">
                        <input type="radio" name="radiogroup1" id="parcelas0" style="display:none" />
                        <input type="radio" class="checkradios" name="parcelas" value="1" id="parcelas1" checked />
                        <span style="margin-left:10px;" class="preco_padrao">1 x R$ 749,00</span>
                        <span style="margin-left:10px;" class="preco_lipe">1 x R$ 560,00</span>
                    </label>
                    <label class="pagtoboleto">
                        <input type="radio" class="checkradios" name="parcelas" value="2" id="parcelas2" />
                        <span style="margin-left:10px;" class="preco_padrao">2 x R$ 374,50</span>
                        <span style="margin-left:10px;" class="preco_lipe">2 x R$ 280,00</span>
                    </label>
                    <label class="pagtoboleto">
                        <input type="radio" class="checkradios" name="parcelas" value="3" id="parcelas3" />
                        <span style="margin-left:10px;" class="preco_padrao">3 x R$ 249,67</span>
                        <span style="margin-left:10px;" class="preco_lipe">3 x R$ 186,67</span>
                    </label>
                    <label class="pagtoboleto" style="margin-bottom:20px;">
                        <input type="radio" class="checkradios" name="parcelas" value="4" id="parcelas4" />
                        <span style="margin-left:10px;" class="preco_padrao">4 x R$ 187,25</span>
                        <span style="margin-left:10px;" class="preco_lipe">4 x R$ 140,00</span>
                    </label>
                    <input type="hidden" id="meio" name="meio" value="" />
                    <p><input type="image" src="~/images/botao-comprar.png" style="width:95%;max-width:500px;" class="btn_sub" /></p>
                    <p class="msg_sub" style="color:white">Aguarde o processamento...</p>
                    <p style="color:white">Após o período de 4 meses o valor para manutenção da plataforma de Marketing Digital será de R$ 69,90 não existindo qualquer processo de obrigatoriedade ou fidelização.</p>

                </form>
            </div>
        </div>
    </div>
    <div class="whatsapp-button" data-aos="zoom-in" data-aos-once="true">
        <a href="https://api.whatsapp.com/send?1=pt_BR&phone=5511956680075" target="_blank" title="Envie uma mensagem para nós!">
        </a>
    </div>
</body>

</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>




    function reativarSubmit() {
        $(".btn_sub").show();
        $(".msg_sub").hide();
    }

    function desativarSubmit() {
        $(".btn_sub").hide();
        $(".msg_sub").show();
    }

    function success(a) {
        if (a.success) {
            reativarSubmit();
            if ($("#meio").val() == 'c') {
                if ($("#codigo").val() == 'lipe') {
                    window.location = "https://link.pagar.me/lHktBbpNcS  ";
                } else {
                    window.location = "https://link.pagar.me/lryzjyUXFB";
                }
                
            } else {
                swal("Sucesso", "Cadastro realizado!\n Enviaremos seu boleto para seu whatsapp e e-mail, fique atento.", "success")
                    .then((value) => {
                    });

            }

        } else {
            reativarSubmit();
            swal("Erro", "Não foi possivel realizar o cadastro", "error");

        }
    }

    function fail(context) {
        console.log(context);
        reativarSubmit();
        swal("Erro", context.responseJSON.field + ':' + context.responseJSON.message, "error")
    };
    
    $(function () {


        if ($("#codigo").val() == 'lipe'){

            $(".preco_padrao").hide();
            $(".preco_lipe").show();

        }else {

            $(".preco_lipe").hide();
            $(".preco_padrao").show();

        }

        setTimeout(function () { AOS.init(); }, 600);

        $(".msg_sub").hide();

        $('.checkradios').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').show()
                $('#lbcreci').hide()
            }
        });

        $('.checkradios1').checkradios({

            onChange: function (checked, $element, $realElement) {
                $('#lbCPF').hide()
                $('#lbcreci').show()
            }

        });


        $("#WhatsApp").mask("(99)99999-9999");
        $('#cpf').mask("999.999.999-99");
        $('#cep').mask("99999-999");

        $(".pagtoboleto").each(function () {
            $(this).hide();
        });

        $(".btn_sub").click(function () {
            if ($("#meio").val() === '') {
                swal("Erro", "Por favor, selecione uma forma de pagamento.", "error");
                return false;
            }
        });
        


        $(".formapagto").click(function () {
            $(".formapagto").each(function () {
                $(this).removeClass();
                $(this).addClass("formapagto");
            });

            $(this).addClass("formapatosel");
            return false;
        });


        $("#ImagemCartao").click(function () {
            $(".pagtoboleto").each(function () {
                $("#meio").val('c');
                $(this).hide();
            });
        });

        $("#ImagemBoleto").click(function () {
            $(".pagtoboleto").each(function () {
                $("#meio").val('b');
                $(this).show();
            });
        });


    });

</script>