*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    font-size: 1rem;
}
body, html{
    font-family: 'FrutigerNext LT';
    line-height: 1;
    height: 100%;
}

ul, ol{
    list-style: none;
    margin: 0;
}
img{
    border: 0;
    max-width: 100%;
}

.content{
    margin: 0 auto;
}

h1.title {
    font-family: 'bebas_neueregular';
    font-size: 2rem;
    color: #ffcd36;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 20px;
    position: relative;
}

    h1.title:before {
        content: "";
        background: #ffcd36;
        position: absolute;
        height: 18px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }


h1.titleb {
    font-family: 'bebas_neueregular';
    font-size: 3.8rem;
    color: #06111e;
    text-align: center;
    padding-top: 47px;
    margin-bottom: 20px;
    position: relative;
}

    h1.titleb:before {
        content: "";
        background: #06111e;
        position: absolute;
        height: 18px;
        width: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }



/* backgrounds */
.home, .oportunidade{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* home */
.home{
    background-image: url(../images/bg-home.jpg);
    padding: 40px 15px;
    position: relative;
}
.home__bloco{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
}
.home__bloco h1{
    font-size: 1.5rem;
    position: relative;
}
.home__bloco h1:before{
    position: absolute;
    content: "";
    background: #232352;
    height: 18px;
    top: 6px;
    right: 105%;
    left: -2560px;
}
.home__bloco h2{
    font-family: 'bebas_neueregular';
    font-size: 3.9rem;
    line-height: .9;
}
.home__bloco p{
    margin: 0;
}

.home__bloco.obrigado{
    min-width: 270px;
}
.home__bloco.obrigado h2{
    font-size: 2.4rem;
}
/* /home */

/* oportunidade */
.oportunidade{
    background-image: url(../images/bg-oportunidade.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #232352;
}
.oportunidade h1{
    margin: 0 auto;
    max-width: 700px;
}
.oportunidade h2{
    font-size: 1.5rem;
    margin: 20px auto;
    max-width: 500px;
}
.oportunidade p{
    font-size: 1.4rem;
    margin: 0 auto;
    max-width: 630px;
    line-height: 1.1;
}
/* /oportunidade */



/* descricao */
.descricao {
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 1.3rem;
    color: #232352;
}
    

    .descricao h1 {
        margin: 0 auto;
        max-width: 700px;
        margin-bottom:20px;
    }

    .descricao h2 {
        font-size: 1.5rem;
        margin: 20px auto;
        max-width: 500px;
    }

    .descricao p {
        font-size: 1.4rem;
        margin: 0 auto;
        max-width: 1000px;
        line-height: 1.1;
        text-align: left;
        margin-bottom: 20px;
    }

    .descricao article ul li {
        max-width: 800px;
        margin-bottom: 10px;
        margin-left: 80px;
        text-align: left;
        list-style-type: disc;
        color: #232352;
    }
.smdesc{
    margin-left:15px;
    margin-right:15px;
    font-size:50px;
}
/* /oportunidade */


/* realizacao */
.realizacao {
    background: fff;
    padding: 50px;
    color: #06111e;
    text-align: center;
    font-size: 1.5rem;
}
.realizacao ul li:not(:last-child){
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 3px solid #06111e;
}
.realizacao ul li span{
    display: block;
    font-size: 6rem;
}
.realizacao ul li span{
    display: block;
    font-size: 6rem;
}
.realizacao ul li span i{
    margin-top: -50px;
}
/* /realizacao */


/* categorias */
.categorias {
    background: #06111e;
    padding: 50px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

    .categorias ul li:not(:last-child) {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 3px solid #fff;
    }

    .categorias ul li span {
        display: block;
        font-size: 6rem;
    }

    .categorias ul li span {
        display: block;
        font-size: 6rem;
    }

        .categorias ul li span i {
            margin-top: -50px;
        }
/* /realizacao */



/* programação */
.programa{
    padding: 50px 15px;
}
.programa article:not(:last-child){
    margin-bottom: 30px;
}
.programa article h2{
    font-size: 1.5rem;
    text-align: center;
}
.programa article ul{
    background: #232352;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px 20px 40px 20px;
}
.programa article ul li{
    margin-bottom: 10px;
}
.programa article p{
    background: #ff3d58;
    background-image: linear-gradient(to right, #06111e , #ff3d58);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: -25px auto 0 auto;
    padding: 10px;
    color: #fff;
    font-size: .9rem;
}
.programa article p span{
    display: block;
    text-align: center;
}
/* /programação */

/* mentor */
.mentor{
    background: #06111e;
    padding: 50px 15px;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}
.mentor h1{
    text-align: center;
}
.mentor h2{
    font-family: 'bebas_neueregular';
    font-size: 2.2rem;
    margin-top: 10px;
}
.mentor h3{
    color: ffcd36;
    font-size: 1.5rem;
}

.imgpart {
    max-width:50%;
}
/* /mentor */

/* investimentos */
.investimentos{
    padding: 50px 15px;
    font-size: 1.5rem;
    text-align: center;
}
.investimentos form{
    text-align: left;
}
.investimentos form label{
    display: block;
    font-size: 1.3rem;
    margin-top: 15px;
}
.investimentos form label span{
    background: #06111e;
    color: #fff;
    font-size: 1rem;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}


.investimentos form label input{
    background: #fff;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.investimentos form label select{
    background: #fff;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
    .investimentos form button {
        background: #ff3d58;
        background-image: linear-gradient(to right, #ffcd36, #f8bc06);
        border: 0;
        padding: 10px 30px;
        color: #06111e;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
.investimentos form button:hover{
    background-image: linear-gradient(to right, #ffcd36, #ffcd36);
}
/* /investimentos */

/* aviso */
.aviso{
    margin-bottom: 30px;
}
.aviso .content{
    background: #ff3d58;
    background-image: linear-gradient(to right, #ff7e7b, #ff3d58);
    padding: 20px 30px;
    color: #232352;
    text-align: center;
    font-size: 1.3rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
/* /aviso */

/* botões de compra*/

.shopbutton {
    background: #ff3d58;
    background-image: linear-gradient(to right, #ffcd36, #f8bc06);
    border: 0;
    padding: 10px 30px;
    color: #06111e;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.shopbutton:hover {
    background-image: linear-gradient(to right, #ffcd36, #ffcd36);
}


/*********************/

/* botão whats*/

.btn-xlarge {
    padding: 30px 40px;
    font-size: 25px;
    //change this to your desired size line-height: normal;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.botaowhats {
    margin-bottom: 50px;

}

.botaopagto {
    margin-bottom: 50px;
    background: #ff3d58;
    background-image: linear-gradient(to right, #ff7e7b, #ff3d58);
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}

.botaopagto2 {
    margin-bottom: 50px;
    background: #ff3d58;
    background-image: linear-gradient(to right, #ff7e7b, #ff3d58);
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}



/* botão whats*/

/* breakpoint 300px */
@media(min-width: 300px) {
    .video {
        width: 100%;
        height: 100%;
    }
    .cardbonus {
        width: 90%;
        margin-top: 20px;
        background-color: #06111e;
        color: white;
        text-align: center;
    }
    .textbonus {
        margin-top: 35px;
        margin-left: 15px;
        margin-right: 10px;
    }

}

/* breakpoint 480px */
@media(min-width: 480px) {
    .home__bloco {
        width: 90%;
        font-size: 1.5rem;
    }
    .home__bloco.obrigado h2{
        font-size: 3rem;
    }

    .programa article p{
        font-size: 1.1rem;
    }

    .imgpart {
        float: none;
    }
}
/* breakpoint 568px */
@media(min-width: 568px) {
    .content{
        width: 80%;
    }

    .home__bloco{
        padding: 40px 20px;
    }
    .home__bloco h1:before {
        top: 10px;
    }

    .mentor{
        text-align: left;
    }


    .imgpart {
        float: right;
    }
}

/* breakpoint 768px */
@media(min-width: 768px) {
    h1.title{
        font-size: 3rem;
        max-width: 600px;
        margin: 0 auto 20px auto;
    }

    .home__bloco{
        width: 600px;
        text-align: left;
        padding: 55px;
    }
    .home__bloco h1{
        font-size: 2rem;
    }
    .home__bloco h2{
        font-size: 8rem;
    }
    .home__bloco.obrigado h2{
        font-size: 5.1rem;
    }

    .categorias ul li{
        width: 45%;
        display: inline-block;
    }

    .realizacao ul li {
        width: 45%;
        display: inline-block;
    }

    .investimentos form label{
        font-size: 1.5rem;
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    .investimentos form label span{
        font-size: 1.5rem;
        margin-right: 8px;
    }
    .investimentos form label input{
        width: auto;
        flex: 1;
    }
}

@media(min-width: 960px){
    .categorias ul{
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    .categorias ul li:not(:last-child),
    .categorias ul li{
        padding: 0 10px;
        border: 0;
    }
    .categorias ul li:not(:last-child){
        border-right: 3px solid #fff;
    }

    .realizacao ul{
        display: -webkit-flex; /* Safari */
        display: flex;
    }
    .realizacao ul li:not(:last-child),
    .realizacao ul li{
        padding: 0 10px;
        border: 0;
    }
    .realizacao ul li:not(:last-child){
        border-right: 3px solid #06111e;
    }


    .programa article {
        float: left;
        /*width: 46%;*/
    }
    .programa article:nth-of-type(2n+0){
        float: right;
        width: 48%;
    }
    .programa article:last-child{
        clear: both;
    }

    .video {
        width: 800px;
        height: 400px;
    }
    .cardbonus {
        width: 800px;
        margin-top: 20px;
    }

}

@media(min-width: 1024px){
    .content{
        max-width: 1205px;
    }

    h1.title{
        font-size: 3.5rem;
    }
    
    .home{
        padding: 80px 15px;
    }
    .home__bloco{
        width: 840px;
        padding: 55px 100px;
        font-size: 2rem;
    }
    .home__bloco h2{
        font-size: 4.0rem;
    }
    .home__bloco.obrigado h2{
        font-size: 6.7rem;
    }

    .oportunidade h2 {
        font-size: 2rem;
    }
    .oportunidade p {
        font-size: 2rem;
    }

    .investimentos form{
        width: 600px;
        margin: auto;
    }
}

@media(min-width: 1280px){
    .oportunidade{
        padding-bottom: 100px;
    }

    .programa article:nth-of-type(2n+0),
    .programa article:last-child,
    .programa article {
        clear: none;
        /*width: 32%;*/
        float: left;
    }
    .programa article:not(:last-child){
        margin-right: 2%;
    }

    .aviso .content{
        max-width: 730px;
    }

    .botaowhats .content {
        max-width: 730px;
    }
}

.promoline::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #232352;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.promoline {
    position: relative;
}




/*Whats app animado*/


.whatsapp-button {
    bottom: 15px;
    right: 15px;
    position: fixed;
    width: 60px;
    height: 60px;
    z-index: 1900;
    margin-bottom: 50px;
}

    .whatsapp-button a {
        background: center no-repeat #25D366;
        color: #FFF;
        font-size: 32px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        display: block;
        border: 0;
        outline: 0;
        border-radius: 60px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06), 0 2px 32px rgba(0, 0, 0, 0.16);
        background-size: 80%;
        transition: all .2s ease-in-out;
        animation: shake 1s 5s both infinite;
    }

        .whatsapp-button a:before {
            font-family: 'Font Awesome 5 Brands';
            font-weight: normal;
            content: "\f232";
        }

        .whatsapp-button a:focus, .whatsapp-button a:hover {
            color: #FFF;
            text-decoration: none;
            transform: scale(1.1);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
        }



@keyframes shake {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(30deg);
    }

    20% {
        transform: rotate(0);
    }

    80% {
        transform: rotate(0);
    }

    90% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}




/*# sourceMappingURL=index.css.map */
